.home-screen
{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(186.52deg, #6D6BDE 5.13%, #5553B7 24.24%);
    padding: 24px;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div h5{
    color: white;
}